body {
  font-family: Arial, sans-serif;
  background-color: #f2f6ff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #2a4cff;
  font-size: 30px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

video {
  width: 100%;
  max-width: 420px;
  border-radius: 16px;
  margin: 15px auto;
  background: black;
}

button {
  width: 90%;
  max-width: 340px;
  padding: 15px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background-color: #2a4cff;
  color: white;
}

input {
  width: 90%;
  max-width: 340px;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

#resultado {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 14px;
  font-size: 17px;
}
